In [2]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [3]:
filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"

In [4]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [5]:
df = pd.read_csv(filename, names = headers)

In [6]:
pd.Series

pandas.core.series.Series

In [15]:
animals = ['cat','dog','fish','bird']
s=pd.Series(animals, index=['wow','b','what','d'], name='animals')
s
#series is a constructor method because we are instantiating an instance of the Series class, which will give us access to all that class's methods

wow      cat
b        dog
what    fish
d       bird
Name: animals, dtype: object

In [8]:
type(s)

pandas.core.series.Series

In [9]:
animals_dict={'a':'cat','b':'dog','c':'fish','d':'horse'}
s_dict = pd.Series(animals_dict)

In [10]:
s_dict

a      cat
b      dog
c     fish
d    horse
dtype: object

In [16]:
s[0]

'cat'

In [12]:
s[:2]

a    cat
b    dog
Name: animals, dtype: object

In [14]:
s[[1,3]]

b     dog
d    bird
Name: animals, dtype: object

In [17]:
s_num= pd.Series(np.random.rand(10),name = 'numbers')
s_num

0    0.027482
1    0.961390
2    0.905036
3    0.027030
4    0.648487
5    0.216796
6    0.409029
7    0.923499
8    0.190149
9    0.192443
Name: numbers, dtype: float64

In [19]:
s_num.value_counts()

0.027482    1
0.961390    1
0.905036    1
0.027030    1
0.648487    1
0.216796    1
0.409029    1
0.923499    1
0.190149    1
0.192443    1
Name: numbers, dtype: int64

In [20]:
s_num > 0

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
Name: numbers, dtype: bool

In [21]:
s_num + s_num

0    0.054964
1    1.922780
2    1.810072
3    0.054060
4    1.296973
5    0.433591
6    0.818058
7    1.846999
8    0.380298
9    0.384885
Name: numbers, dtype: float64

In [22]:
s_num.mean()

0.45013405911814336

In [26]:
#double brackets take a column and make it a dataframe:
df[['fuel-type']]
#dataframes are made of Series

    fuel-type
0         gas
1         gas
2         gas
3         gas
4         gas
..        ...
200       gas
201       gas
202       gas
203    diesel
204       gas

[205 rows x 1 columns]

In [24]:
type(df['fuel-type'])

pandas.core.series.Series

In [25]:
df.symboling
#this also returns symboling as a series

0      3
1      3
2      1
3      2
4      2
      ..
200   -1
201   -1
202   -1
203   -1
204   -1
Name: symboling, Length: 205, dtype: int64

In [ ]:
pod = ['32']
print(list(pod))